.wy-side-nav-search {
    background: linear-gradient(180deg, rgba(231, 137, 185, 1) 0%, rgba(159, 81, 245, 1) 100%);
}

.caption {
    color: rgba(231, 137, 185, 1) !important;
}

.version {
    color: rgba(255, 255, 255, 1) !important;
}